<%- include("../temp/header") %>

<div class="container">
    <h1 style="text-align: center;">Add Comment <%= image.name %></h1>
    <div style="width: 30%; margin: 26px auto;">
        <div>
            <form action="/images/<%= image._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!!</button>
                </div>
            </form>
            <a href="/images">Back</a>
        </div>
       
        
    </div>  
</div>


<%- include("../temp/footer") %>