<%- include("./temp/header") %>

<h1>Sign In!!</h1>

<form action="/signin" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Signin!">
</form>

<%- include("./temp/footer") %>
